.App {
    text-align: left;
    font-weight: 600;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
    background-color: #282c34;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 10%;
    color: white;
}

.m-0 {
    margin: 0;
}

.font-size-title {
    font-size: 4rem;
}

.font-size-subtitle {
    font-size: 1.3rem;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

	.list-item {
		padding: 20px;
		padding-left: 40px;
		padding-right: 40px;
		background-color: #fff;
		border-bottom-color: #ccc;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		font-size: 13pt;
		color: #333;
		display: flex;
		justify-content: space-between;

		&:hover {
			background-color: #fafafa;
		}

		a {
			margin-left: 40px;
			cursor: pointer;
			color: #333;

			&:hover {
				color: #686868;
			}

			&:active {
				color: #585858;
			}
		}
	}
}

.author {
    color: #999;
    margin-left: 5px;
}

.App-link {
    color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
